<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta tags -->
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
          <meta http-equiv="X-UA-Compatible" content="ie=edge">
          <title>Versus Protocol</title>
          <meta name="description" content="Monthly sports bets through cryptocurrency">
          <!-- <link rel="canonical" href="https://elmavirirestaurant.com/"> -->
          <!-- <meta name="robots" content="index, follow"> -->
      
          <!-- Open Graph -->
          <meta property="og:title" content="Versus Protocol">
          <meta property="og:description" content="Monthly sports bets through cryptocurrency">
          <!-- <meta property="og:url" content="https://elmavirirestaurant.com/"> -->
          <!-- <meta property="og:image" content="http://elmavirirestaurant.com/assets/imgs/imagen-og-image.jpg"> -->
          <!-- <meta property="og:image:secure_url" content="https://elmavirirestaurant.com/assets/imgs/imagen-og-image.jpg"> -->
          <meta property="og:locale" content="es_ES" />
          <!-- <meta property="og:type" content="website"> -->
      
          <!-- Twitter Cards -->
          <meta name="twitter:title" content="Versus Protocol">
          <meta name="twitter:description" content="Monthly sports bets through cryptocurrency">
          <!-- <meta name="twitter:url" content="https://elmavirirestaurant.com/"> -->
          <meta name="twitter:card" content="summary_large_image">
          <!-- <meta name="twitter:image" content="http://elmavirirestaurant.com/assets/imgs/imagen-og-image.jpg"> -->
      
          <!-- Icons -->
          <!-- <link rel="icon" href="https://elmavirirestaurant.com/assets/imgs/LogoMaviriOrange.png"> -->
          <!-- <link rel="icon" href="http://elmavirirestaurant.com/assets/imgs/imagen-og-image.jpg" sizes="192x192"> -->
          <!-- <link rel="apple-touch-icon" href="https://elmavirirestaurant.com/assets/imgs/LogoMaviriOrange.png"> -->
          
          <!-- Stylesheets -->
          <link rel="preconnect" href="https://fonts.gstatic.com">
          <link rel="preconnect" href="https://fonts.gstatic.com">
          <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Questrial&display=swap" rel="stylesheet">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
          

          <link rel="stylesheet" href="../static/css/style.css">
        
          <!-- <link rel="stylesheet" href="css/nav.css"> -->
          <!-- <link rel="stylesheet" href="css/footer.css"> -->
          
          <script src="https://kit.fontawesome.com/01b9abcee1.js" crossorigin="anonymous"></script>
      
      </head>
<body>

<nav>

</nav>

<header>
    <div class="container-fluid">
        <div class="text-center goat-div">
            <img src="../static/assets/imgs/WhoIsTheGoat.svg" alt="">
            <br>
            <img src="../static/assets/imgs/Messsi ronaldo.svg" alt="">
        </div>
        
        <div class="mx-auto" style="width: 80%; border: red 1px solid;">
            <p class="p-subtitle">Price</p>
    
        </div>

    </div>
    


</header>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="js/main.js" type=""></script>
    
</body>
</html>